* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

#head-site-area {
    background-color: #333f99;

    .my-container {
        width: 97%;
        height: 120px;
        background-color: #333f99;
        margin: auto;
    }

    .dropdown {
        padding-top: 35px;

        .dropdown-menu {
            span {
                padding-left: 10px;
            }

            img {
                width: 30px;
                height: 30px;
            }
        }

        padding-left: 20px;

        button {
            background-color: #333f99;
            padding-top: 8px;
            width: 95px;
            height: 45px;
        }
    }

    .logo {
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        

        img {
            padding-top: 30px;
            padding-left: 20px;
            width: 300px;
            height: 90px;
        }
    }

    .user {
        position: relative;
        display: flex;

        .shop-icon {
            width: 50px;
            height: 50px;
            background-color: #ff5722;
            border-radius: 50%;
            position: absolute;
            right: 110px;
            top: 30px;


            
        }
        
    }

        sup {
            border-radius: 50%;
            font-size: 10px;
            padding: 4px;
            top: -15px;
            right: 5px;
            background-color: coral;
        }

        .shopping {
            color: white;
            font-size: 20px;
            position: absolute;
            left: 12px;
            top: 13px;
        }

        .heart-icon {
            width: 50px;
            height: 50px;
            background-color: #ff5722;
            border-radius: 50%;
            position: absolute;
            right: 51px;
            top: 30px;
        }

        .heart {
            color: white;
            font-size: 20px;
            position: absolute;
            left: 14px;
            top: 13px;
        }

        .user-img {
            width: 50px;
            height: 50px;
            position: absolute;
            right: 0;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            position: absolute;
            top: 30px;
            left: 7px;
        }
    }


#navbar {
    background-color: #283593;

    .my-container {
        width: 97%;
        height: 50px;
        background-color: #283593;
        margin: auto;
    }

    nav {
        position: relative;
        display: flex;
        justify-content: center;
        .admin {
            background-color: #FF5722;


        }
    }

    .btn {
        display: flex;
        margin-top: 3px;

        li {
            list-style: none;
            margin-right: 15px;

            &:hover {
                .home {
                    height: 130px;
                    width: 200px;

                    li {
                        text-align: left;
                    }
                }

                .shop {
                    height: 170px;
                    width: 200px;
                }

                .categories {
                    height: 270px;
                    width: 1000px;

                    li {
                        text-align: left;
                    }
                }

                a {
                    &::before {
                        visibility: visible;
                        transform: scale(1, 1);
                    }
                }
            }

            .home {
                height: 130px;
                width: 200px;
            }

            .shop {
                height: 170px;
                width: 200px;
            }

            .categories {
                position: absolute;
                right: 0;
                height: 270px;
                width: 1000px;
                display: flex;
                gap: 150px;
                text-align: left;
            }

            .submenu {
                overflow: hidden;
                position: absolute;
                top: 57px;
                background-color: whitesmoke;
                height: 0;
                line-height: 40px;
                transition: height 0.3s ease-in-out;
                transition-delay: 0.1s;
                border-radius: 5px;
                z-index: 2;

                >li {
                    display: block;
                    text-align: left;
                }

                a {
                    color: black;
                    margin-top: 20px;
                    font-size: 16px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }

                .product1 {
                    padding-top: 20px;

                    h5 {
                        text-align: left;
                    }
                }
            }

            .hov {
                font-size: 18px;
                color: white;
                display: block;
                padding: 0 7px 0 7px;
                margin: 0 0 10px;
                text-decoration: none;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    bottom: -20px;
                    left: 0px;
                    background-color: orange;
                    transition: all 0.3s ease-in-out;
                    transform: scale(0, 0);
                    visibility: hidden;
                }
            }
        }
    }
}

#scroll-navbar {
    background-color: #283593;
    z-index: 20;
    position: fixed;
    width: 100%;
    display: block;
    transition: 0.5s;
  
    .as {
      background-color: #ff5722;
      height: 50px;
      position: absolute;
      left: 677px;
      bottom: 20px;
      width: 130px;
      padding-top: 10px;
    }
    .my-container {
      width: 97%;
      height: 50px;
      background-color: #283593;
      margin-left: 23px;
    }
    img{
      padding-top: 8px;
    }
    .inActive{
      display: none;
    }
    nav {
      position: absolute;
      right: 0;
    }
    .btn {
      display: flex;
      margin-top: 3px;
      padding-right: 137px;
      li {
        list-style: none;
        margin-right: 15px;
        &:hover {
          .home {
            height: 130px;
            width: 200px;
            li {
              text-align: left;
            }
          }
          .shop {
            height: 170px;
            width: 200px;
          }
          .categories {
            height: 270px;
            width: 1000px;
            li {
              text-align: left;
            }
          }
          a {
            &::before {
              visibility: visible;
              transform: scale(1, 1);
            }
          }
        }
        .home {
          height: 130px;
          width: 200px;
        }
  
        .shop {
          height: 170px;
          width: 200px;
        }
  
        .categories {
          position: absolute;
          right: 0;
          height: 270px;
          width: 1000px;
          display: flex;
          gap: 150px;
          text-align: left;
        }
  
        .submenu {
          overflow: hidden;
          position: absolute;
          top: 57px;
          background-color: whitesmoke;
          height: 0;
          line-height: 40px;
          transition: height 0.3s ease-in-out;
          transition-delay: 0.1s;
          border-radius: 5px;
          z-index: 2;
          > li {
            display: block;
            text-align: left;
          }
          a {
            color: black;
            margin-top: 20px;
            font-size: 16px;
            text-decoration: none;
            &:hover {
              text-decoration: none;
            }
          }
          .product1 {
            padding-top: 20px;
            h5 {
              text-align: left;
            }
          }
        }
        .hov {
          font-size: 18px;
          color: white;
          display: block;
          padding: 0 7px 0 7px;
          margin: 0 0 10px;
          text-decoration: none;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: -20px;
            left: 0px;
            background-color: orange;
            transition: all 0.3s ease-in-out;
            transform: scale(0, 0);
            visibility: hidden;
          }
        }
      }
    }
  }
  


#head-banner {
    height: 310px;
    background-image: url(../../images/accessories/page-title-bar.3ed966eb.jpg);
    background-position: 2%;
    background-size: 100%;
    position: relative;
    .my-container {
      width: 100%;
      margin: auto;
    }
    img {
      width: 100%;
      height: 344px;
    }
    .product-name {
      width: 100%;
      position: absolute;
      top: 90px;
      text-align: center;
      h1 {
        font-size: 50px;
        color: white;
      }
      p {
        color: white;
        font-size: 20px;
      }
    }
    .icon {
      width: 60px;
      height: 60px;
      background-color: #ff5722;
      position: absolute;
      right: 15px;
      top: -30px;
      border-radius: 50%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      i {
        font-size: 20px;
        padding-left: 18px;
        padding-top: 19px;
        color: white;
      }
    }
  }
  
  #product-detail {
    padding-top: 50px;
    .my-container {
      width: 97%;
      margin: auto;
    }
    .price {
      font-size: 20px;
    }
    select {
      width: 230px;
      border: none;
      outline: none;
      border-bottom: 1px solid grey;
      cursor: pointer;
    }
    button {
      width: 150px;
      height: 50px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }
    .first {
      background-color: #ff5722;
      color: white;
    }
    .second {
      background-color: white;
      margin-left: 10px;
    }
    .share {
      display: flex;
      span {
        margin-top: 5px;
      }
      .social {
        display: flex;
        gap: 10px;
        padding-left: 15px;
        .soc {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          background-color: #283593;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            background-color: white;
          }
          &:hover i {
            color: #283593;
          }
          i {
            padding-left: 14px;
            padding-top: 12px;
            color: white;
          }
        }
      }
    }
    a {
      color: black;
    }
    .price {
      color: #ff5722;
    }
    #scroll-photo {
      display: flex;
      width: 100%;
      margin: auto;
    }
    #products-p img {
      border-radius: 0.8rem;
      height: 750px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
    #prod-photo {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
    }
    #prod-photo img {
      width: 90%;
      border-radius: 0.8rem;
      height: 130px;
      cursor: pointer;
    }
  }
  
  #product-cards {
    height: 900px;
    margin-top: 80px;
    padding-top: 70px;
    background-color: whitesmoke;
    .my-container {
      width: 97%;
      margin: auto;
    }
    h1 {
      text-align: center;
    }
    .product {
      position: relative;
      margin-top: 35px;
      width: 340.46px;
      border-radius: 5px 5px 0 0;
      background-color: white;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
      img {
        width: 100%;
        cursor: pointer;
      }
      i{
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 20px;
        color: grey;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
          color: red;
        }
      }
    }
    .product-info{
      position: relative;
      width: 340.46px;
      height: 117px;
      border-radius:0 0 5px 5px;
      background-color: white;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
      h5{
        position: absolute;
        top: 30px;
        left: 20px;
        color: black;
        transition: 0.3s;
        &:hover{
          color: #FF5722;
        }
      }
      span{
        position: absolute;
        bottom: 15px;
        left: 20px;
        font-size: 20px;
        color: #FF5722;
      }
      .star-icon{
        position: absolute;
        bottom: 15px;
        right: 20px;
        i{
          color: gold;
        }
      }
      .shop-icon{
        position: absolute;
        right: 20px;
        top: -35px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        background-color: #ff5722;
        cursor: pointer;
        i{
          padding-top: 20px;
          padding-left: 18px;
          font-size: 20px;
          color: white;
        }
      }.hov-card:hover {
        color: #FF5722;
        transition: 0.3s;
        margin-top: 25px;
        transition: 1s;
        cursor: pointer;
    }
    }
    .butn{
      margin-top: 60px;
      text-align: center;
      button{
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
      }
    }
  }





#site-about {
    margin-top: 70px;
    background-color: black;

    .my-container {
        width: 97%;
        height: 400px;
        margin: auto;
        background-color: black;
    }

    .about {
        p:hover {
            cursor: pointer;
            color: red;
        }
    }

    h6,
    p {
        transition: 0.3s;
        margin-left: 40px;
        margin-top: 30px;
        color: white;
    }

    span {
        float: right;
        color: white;
    }
}